body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
  }
  .txt{
    text-align: center;
  }
   

 .game-buttons{
    width:auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.game-button img {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border: 2px solid rgba(0,0,0,0.5) ;/* Add a border */
    border-radius: 5%;
  }
  
  .game-button figcaption {
    margin-top: 5px; /* Add spacing between image and caption */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Caption text color */
    text-align: center;
  }
  
  